[submodule "gateware/submodules/surf"]
	path = gateware/submodules/surf
	url = https://github.com/slaclab/surf.git
[submodule "gateware/submodules/ruckus"]
	path = gateware/submodules/ruckus
	url = https://github.com/slaclab/ruckus.git
